<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mixture"
    android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="18990095 段璎宴"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.Mixture.BannerPagerActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.example.Mixture.TabFragmentActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.example.Mixture.TabLayoutActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name="com.example.Mixture.SearchResultActvity"
            android:theme="@style/AppCompatTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.example.Mixture.SearchViewActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />


        <activity android:name="com.example.Mixture.TabFirstActivity"/>
        <activity android:name="com.example.Mixture.TabSecondActivity" />
        <activity android:name="com.example.Mixture.TabThirdActivity"/>

        <activity android:name="com.example.Mixture.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>